POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=watched

JWT_SECRET=change-me-in-production

TMDB_API_KEY=tmdb-api-key

# dev
DEV_URL=http://localhost:5173

# prod
PROD_URL=http://localhost:8080

# cloudflare
CLOUD_URL=https://yourdomain.com
CLOUDFLARE_TOKEN=

# webhook
WEBHOOK_SECRET=