POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=watched

JWT_SECRET=change-me-in-production

TMDB_API_KEY=tmdb-api-key

# dev
DEV_URL=http://localhost:5173
DEV_API_URL=http://localhost:3000

# prod
PROD_URL=http://localhost:8080
PROD_API_URL=http://localhost:3000

# cloudflare
CLOUD_URL=https://yourdomain.com
CLOUD_API_URL=https://api.yourdomain.com
CLOUDFLARE_TOKEN=

# webhook (deploy)
WEBHOOK_SECRET=