@import 'tailwindcss';

/* Colors */
:root {
  --color-muted: #9ca3af; /* gray-400 */
  --color-subtle: #6b7280; /* gray-500 */
  --color-faint: #4b5563; /* gray-600 */
  --color-hover-light: #d1d5db; /* gray-300 */

  --color-danger: #f87171; /* red-400 */
  --color-danger-hover: #fca5a5; /* red-300 */
  --color-danger-strong: #dc2626; /* red-600 */
  --color-danger-strong-hover: #ef4444; /* red-500 */
  --color-danger-border: #7f1d1d; /* red-900 dangerOutline border */
  --color-danger-border-hover: #b91c1c; /* red-700 */

  --color-success: #4ade80; /* green-400 */
  --color-success-hover: #86efac; /* green-300 */

  --color-accent: #60a5fa; /* blue-400 */
  --color-accent-hover: #93c5fd; /* blue-300 */
  --color-primary: #2563eb; /* blue-600 */
  --color-primary-hover: #3b82f6; /* blue-500 */

  --color-border: #374151; /* gray-700 */
  --color-border-hover: #6b7280; /* gray-500 */
}

/* Scrollbar fix */
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(75 85 99) rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75 85 99);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107 114 128);
  background-clip: padding-box;
}
